In [1]:
#coding=utf-8
#import
import findspark
findspark.init('/home/ubuntu/spark-3.2.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Creating a connected session in local startup mode is available if submitted to the cluster
spark = SparkSession.builder \
    .appName("xiyuanye").master("local[*]")\
            .config('spark.driver.maxResultsSize', '0').getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/ubuntu/spark-3.2.1-bin-hadoop2.7/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/10/09 08:46:35 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df_spark = spark.read.csv("dataset_base.csv",header=True,)

In [4]:
df_spark.show()

+---+------+------+---+---+--------+----+---+-------+-------+-----+-------+-----+---+----+------+----+-----+--------+
|age|height|weight|sex| cp|trestbps|chol|fbs|restecg|thalach|exang|oldpeak|slope| ca|thal|target|alco|smoke|exercise|
+---+------+------+---+---+--------+----+---+-------+-------+-----+-------+-----+---+----+------+----+-----+--------+
| 52|   175|    75|  1|  0|     125| 212|  0|      1|    168|    0|      1|    2|  2|   3|     0|   0|    0|       1|
| 53|   178|    75|  1|  0|     140| 203|  1|      0|    155|    1|    3.1|    0|  0|   3|     0|   0|    0|       0|
| 70|   167|    68|  1|  0|     145| 174|  0|      1|    125|    1|    2.6|    0|  0|   3|     0|   0|    0|       0|
| 61|   165|    63|  1|  0|     148| 203|  0|      1|    161|    0|      0|    2|  1|   3|     0|   0|    0|       1|
| 62|   163|    55|  0|  0|     138| 294|  1|      1|    106|    0|    1.9|    1|  3|   2|     0|   0|    1|       0|
| 58|   165|    64|  0|  0|     100| 248|  0|      0|    122|    0|      1|    1|  0|   2|     1|   0|    0|       1|
| 58|   165|    74|  1|  0|     114| 318|  0|      2|    140|    0|    4.4|    0|  3|   1|     0|   0|    0|       1|
| 55|   169|    70|  1|  0|     160| 289|  0|      0|    145|    1|    0.8|    1|  1|   3|     0|   0|    0|       0|
| 46|   140|    48|  1|  0|     120| 249|  0|      0|    144|    0|    0.8|    2|  0|   3|     0|   0|    0|       1|
| 54|   165|    65|  1|  0|     122| 286|  0|      0|    116|    1|    3.2|    1|  2|   2|     0|   0|    0|       1|
| 71|   170|    68|  0|  0|     112| 149|  0|      1|    125|    0|    1.6|    1|  0|   2|     1|   0|    0|       0|
| 43|   171|    69|  0|  0|     132| 341|  1|      0|    136|    1|      3|    1|  0|   3|     0|   0|    0|       0|
| 34|   160|    60|  0|  1|     118| 210|  0|      1|    192|    0|    0.7|    2|  0|   2|     1|   0|    0|       1|
| 51|   169|    75|  1|  0|     140| 298|  0|      1|    122|    1|    4.2|    1|  3|   3|     0|   0|    0|       0|
| 52|   158|    65|  1|  0|     128| 204|  1|      1|    156|    1|      1|    1|  0|   0|     0|   0|    0|       1|
| 34|   160|    75|  0|  1|     118| 210|  0|      1|    192|    0|    0.7|    2|  0|   2|     1|   0|    0|       1|
| 51|   169|    80|  0|  2|     140| 308|  0|      0|    142|    0|    1.5|    2|  1|   2|     1|   0|    0|       1|
| 54|   170|    66|  1|  0|     124| 266|  0|      0|    109|    1|    2.2|    1|  1|   3|     0|   0|    0|       0|
| 50|   166|    89|  0|  1|     120| 244|  0|      1|    162|    0|    1.1|    2|  0|   2|     1|   0|    0|       1|
| 58|   156|    75|  1|  2|     140| 211|  1|      0|    165|    0|      0|    2|  0|   2|     1|   0|    0|       0|
+---+------+------+---+---+--------+----+---+-------+-------+-----+-------+-----+---+----+------+----+-----+--------+
only showing top 20 rows

In [5]:
df_spark.printSchema()

root
 |-- age: string (nullable = true)
 |-- height: string (nullable = true)
 |-- weight: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- cp: string (nullable = true)
 |-- trestbps: string (nullable = true)
 |-- chol: string (nullable = true)
 |-- fbs: string (nullable = true)
 |-- restecg: string (nullable = true)
 |-- thalach: string (nullable = true)
 |-- exang: string (nullable = true)
 |-- oldpeak: string (nullable = true)
 |-- slope: string (nullable = true)
 |-- ca: string (nullable = true)
 |-- thal: string (nullable = true)
 |-- target: string (nullable = true)
 |-- alco: string (nullable = true)
 |-- smoke: string (nullable = true)
 |-- exercise: string (nullable = true)

In [6]:
df_spark.columns

['age',
 'height',
 'weight',
 'sex',
 'cp',
 'trestbps',
 'chol',
 'fbs',
 'restecg',
 'thalach',
 'exang',
 'oldpeak',
 'slope',
 'ca',
 'thal',
 'target',
 'alco',
 'smoke',
 'exercise']

In [7]:
from pyspark.sql.types import DoubleType

for i in df_spark.columns:
    df_spark = df_spark.withColumn(i, df_spark[i].cast(DoubleType()))

In [8]:
df_spark = df_spark.na.fill( value= 0)

In [9]:
from pyspark.sql import functions as F

In [10]:
def age(text):
    if text < 32 :
        return int(0)
    elif text < 47 :
        return int(1)
    elif text < 70 :
        return int(2)
    else   :
        return int(3)

In [11]:
df_spark = df_spark.withColumn('age', F.UserDefinedFunction(age) (df_spark.age))

In [12]:
df_spark = df_spark.withColumn("age", df_spark["age"].cast(DoubleType()))

In [13]:
df_spark.head(3)

[Row(age=2.0, height=175.0, weight=75.0, sex=1.0, cp=0.0, trestbps=125.0, chol=212.0, fbs=0.0, restecg=1.0, thalach=168.0, exang=0.0, oldpeak=1.0, slope=2.0, ca=2.0, thal=3.0, target=0.0, alco=0.0, smoke=0.0, exercise=1.0),
 Row(age=2.0, height=178.0, weight=75.0, sex=1.0, cp=0.0, trestbps=140.0, chol=203.0, fbs=1.0, restecg=0.0, thalach=155.0, exang=1.0, oldpeak=3.1, slope=0.0, ca=0.0, thal=3.0, target=0.0, alco=0.0, smoke=0.0, exercise=0.0),
 Row(age=3.0, height=167.0, weight=68.0, sex=1.0, cp=0.0, trestbps=145.0, chol=174.0, fbs=0.0, restecg=1.0, thalach=125.0, exang=1.0, oldpeak=2.6, slope=0.0, ca=0.0, thal=3.0, target=0.0, alco=0.0, smoke=0.0, exercise=0.0)]

In [14]:
df_spark.dtypes

[('age', 'double'),
 ('height', 'double'),
 ('weight', 'double'),
 ('sex', 'double'),
 ('cp', 'double'),
 ('trestbps', 'double'),
 ('chol', 'double'),
 ('fbs', 'double'),
 ('restecg', 'double'),
 ('thalach', 'double'),
 ('exang', 'double'),
 ('oldpeak', 'double'),
 ('slope', 'double'),
 ('ca', 'double'),
 ('thal', 'double'),
 ('target', 'double'),
 ('alco', 'double'),
 ('smoke', 'double'),
 ('exercise', 'double')]

In [15]:
# null values
for col in df_spark.columns:
    print(col.ljust(20), df_spark.filter(df_spark[col].isNull()).count())

age                  0
height               0
weight               0
sex                  0
cp                   0
trestbps             0
chol                 0
fbs                  0
restecg              0
thalach              0
exang                0
oldpeak              0
slope                0
ca                   0
thal                 0
target               0
alco                 0
smoke                0
exercise             0

In [16]:
# remove all the null
df_spark=df_spark.na.drop()
df_spark.count()

1499

In [17]:
#Obtain data from the CSV file
dd  = spark.read.csv("data.csv",header=True,)

In [18]:
dd.show()

+-----+---+------+------+---+---+--------+----+---+-------+-------+-----+-------+-----+---+----+------+----+-----+--------+
|index|age|height|weight|sex| cp|trestbps|chol|fbs|restecg|thalach|exang|oldpeak|slope| ca|thal|target|alco|smoke|exercise|
+-----+---+------+------+---+---+--------+----+---+-------+-------+-----+-------+-----+---+----+------+----+-----+--------+
|    1| 52|   175|    75|  1|  0|     125| 212|  0|      1|    168|    0|      1|    2|  2|   3|     0|   0|    0|       1|
|    2| 53|   178|    75|  1|  0|     140| 203|  1|      0|    155|    1|    3.1|    0|  0|   3|     0|   0|    0|       0|
|    3| 70|   167|    68|  1|  0|     145| 174|  0|      1|    125|    1|    2.6|    0|  0|   3|     0|   0|    0|       0|
|    4| 61|   165|    63|  1|  0|     148| 203|  0|      1|    161|    0|      0|    2|  1|   3|     0|   0|    0|       1|
|    5| 62|   163|    55|  0|  0|     138| 294|  1|      1|    106|    0|    1.9|    1|  3|   2|     0|   0|    1|       0|
|    6| 58|   165|    64|  0|  0|     100| 248|  0|      0|    122|    0|      1|    1|  0|   2|     1|   0|    0|       1|
|    7| 58|   165|    74|  1|  0|     114| 318|  0|      2|    140|    0|    4.4|    0|  3|   1|     0|   0|    0|       1|
|    8| 55|   169|    70|  1|  0|     160| 289|  0|      0|    145|    1|    0.8|    1|  1|   3|     0|   0|    0|       0|
|    9| 46|   140|    48|  1|  0|     120| 249|  0|      0|    144|    0|    0.8|    2|  0|   3|     0|   0|    0|       1|
|   10| 54|   165|    65|  1|  0|     122| 286|  0|      0|    116|    1|    3.2|    1|  2|   2|     0|   0|    0|       1|
|   11| 71|   170|    68|  0|  0|     112| 149|  0|      1|    125|    0|    1.6|    1|  0|   2|     1|   0|    0|       0|
|   12| 43|   171|    69|  0|  0|     132| 341|  1|      0|    136|    1|      3|    1|  0|   3|     0|   0|    0|       0|
|   13| 34|   160|    60|  0|  1|     118| 210|  0|      1|    192|    0|    0.7|    2|  0|   2|     1|   0|    0|       1|
|   14| 51|   169|    75|  1|  0|     140| 298|  0|      1|    122|    1|    4.2|    1|  3|   3|     0|   0|    0|       0|
|   15| 52|   158|    65|  1|  0|     128| 204|  1|      1|    156|    1|      1|    1|  0|   0|     0|   0|    0|       1|
|   16| 34|   160|    75|  0|  1|     118| 210|  0|      1|    192|    0|    0.7|    2|  0|   2|     1|   0|    0|       1|
|   17| 51|   169|    80|  0|  2|     140| 308|  0|      0|    142|    0|    1.5|    2|  1|   2|     1|   0|    0|       1|
|   18| 54|   170|    66|  1|  0|     124| 266|  0|      0|    109|    1|    2.2|    1|  1|   3|     0|   0|    0|       0|
|   19| 50|   166|    89|  0|  1|     120| 244|  0|      1|    162|    0|    1.1|    2|  0|   2|     1|   0|    0|       1|
|   20| 58|   156|    75|  1|  2|     140| 211|  1|      0|    165|    0|      0|    2|  0|   2|     1|   0|    0|       0|
+-----+---+------+------+---+---+--------+----+---+-------+-------+-----+-------+-----+---+----+------+----+-----+--------+
only showing top 20 rows

In [19]:
def is_positive(smoke,alco,exercise):
    if (smoke  == 1)  and (alco == 1)  and( exercise == 1):
        return 1
    else:
        return 0

In [20]:
from pyspark.sql import functions as F

dd = dd.withColumn('positive', F.UserDefinedFunction(is_positive) (dd["smoke"],dd["alco"],dd["exercise"]))

In [21]:
dd.show()

+-----+---+------+------+---+---+--------+----+---+-------+-------+-----+-------+-----+---+----+------+----+-----+--------+--------+
|index|age|height|weight|sex| cp|trestbps|chol|fbs|restecg|thalach|exang|oldpeak|slope| ca|thal|target|alco|smoke|exercise|positive|
+-----+---+------+------+---+---+--------+----+---+-------+-------+-----+-------+-----+---+----+------+----+-----+--------+--------+
|    1| 52|   175|    75|  1|  0|     125| 212|  0|      1|    168|    0|      1|    2|  2|   3|     0|   0|    0|       1|       0|
|    2| 53|   178|    75|  1|  0|     140| 203|  1|      0|    155|    1|    3.1|    0|  0|   3|     0|   0|    0|       0|       0|
|    3| 70|   167|    68|  1|  0|     145| 174|  0|      1|    125|    1|    2.6|    0|  0|   3|     0|   0|    0|       0|       0|
|    4| 61|   165|    63|  1|  0|     148| 203|  0|      1|    161|    0|      0|    2|  1|   3|     0|   0|    0|       1|       0|
|    5| 62|   163|    55|  0|  0|     138| 294|  1|      1|    106|    0|    1.9|    1|  3|   2|     0|   0|    1|       0|       0|
|    6| 58|   165|    64|  0|  0|     100| 248|  0|      0|    122|    0|      1|    1|  0|   2|     1|   0|    0|       1|       0|
|    7| 58|   165|    74|  1|  0|     114| 318|  0|      2|    140|    0|    4.4|    0|  3|   1|     0|   0|    0|       1|       0|
|    8| 55|   169|    70|  1|  0|     160| 289|  0|      0|    145|    1|    0.8|    1|  1|   3|     0|   0|    0|       0|       0|
|    9| 46|   140|    48|  1|  0|     120| 249|  0|      0|    144|    0|    0.8|    2|  0|   3|     0|   0|    0|       1|       0|
|   10| 54|   165|    65|  1|  0|     122| 286|  0|      0|    116|    1|    3.2|    1|  2|   2|     0|   0|    0|       1|       0|
|   11| 71|   170|    68|  0|  0|     112| 149|  0|      1|    125|    0|    1.6|    1|  0|   2|     1|   0|    0|       0|       0|
|   12| 43|   171|    69|  0|  0|     132| 341|  1|      0|    136|    1|      3|    1|  0|   3|     0|   0|    0|       0|       0|
|   13| 34|   160|    60|  0|  1|     118| 210|  0|      1|    192|    0|    0.7|    2|  0|   2|     1|   0|    0|       1|       0|
|   14| 51|   169|    75|  1|  0|     140| 298|  0|      1|    122|    1|    4.2|    1|  3|   3|     0|   0|    0|       0|       0|
|   15| 52|   158|    65|  1|  0|     128| 204|  1|      1|    156|    1|      1|    1|  0|   0|     0|   0|    0|       1|       0|
|   16| 34|   160|    75|  0|  1|     118| 210|  0|      1|    192|    0|    0.7|    2|  0|   2|     1|   0|    0|       1|       0|
|   17| 51|   169|    80|  0|  2|     140| 308|  0|      0|    142|    0|    1.5|    2|  1|   2|     1|   0|    0|       1|       0|
|   18| 54|   170|    66|  1|  0|     124| 266|  0|      0|    109|    1|    2.2|    1|  1|   3|     0|   0|    0|       0|       0|
|   19| 50|   166|    89|  0|  1|     120| 244|  0|      1|    162|    0|    1.1|    2|  0|   2|     1|   0|    0|       1|       0|
|   20| 58|   156|    75|  1|  2|     140| 211|  1|      0|    165|    0|      0|    2|  0|   2|     1|   0|    0|       0|       0|
+-----+---+------+------+---+---+--------+----+---+-------+-------+-----+-------+-----+---+----+------+----+-----+--------+--------+
only showing top 20 rows

In [22]:
dd.count()

1499

In [23]:
aa = spark.read.csv("job.csv",header=True,)

In [24]:
aa.show()

+------+------------+
|index1|         job|
+------+------------+
|     1|      no-job|
|     2|      no-job|
|     3|delivery-man|
|     4|business-man|
|     5|    security|
|     6|     teacher|
|     7|     teacher|
|     8|delivery-man|
|     9|      no-job|
|    10|    security|
|    11|delivery-man|
|    12|      no-job|
|    13|business-man|
|    14|business-man|
|    15|delivery-man|
|    16| baby-sitter|
|    17|     dentist|
|    18|     teacher|
|    19|     teacher|
|    20|      no-job|
+------+------------+
only showing top 20 rows

In [25]:
aa.count()

1499

In [26]:
dd.columns

['index',
 'age',
 'height',
 'weight',
 'sex',
 'cp',
 'trestbps',
 'chol',
 'fbs',
 'restecg',
 'thalach',
 'exang',
 'oldpeak',
 'slope',
 'ca',
 'thal',
 'target',
 'alco',
 'smoke',
 'exercise',
 'positive']

In [27]:
yy =  dd.join(other  = aa, on =  aa.index1 == dd.index ,how='left').select('index',
 'age',
 'height',
 'weight',
 'sex',
 'cp',
 'trestbps',
 'chol',
 'fbs',
 'restecg',
 'thalach',
 'exang',
 'oldpeak',
 'slope',
 'ca',
 'thal',
 'target',
 'alco',
 'smoke',
 'exercise','positive','job')

In [28]:
yy.show()

+-----+---+------+------+---+---+--------+----+---+-------+-------+-----+-------+-----+---+----+------+----+-----+--------+--------+------------+
|index|age|height|weight|sex| cp|trestbps|chol|fbs|restecg|thalach|exang|oldpeak|slope| ca|thal|target|alco|smoke|exercise|positive|         job|
+-----+---+------+------+---+---+--------+----+---+-------+-------+-----+-------+-----+---+----+------+----+-----+--------+--------+------------+
|    1| 52|   175|    75|  1|  0|     125| 212|  0|      1|    168|    0|      1|    2|  2|   3|     0|   0|    0|       1|       0|      no-job|
|    2| 53|   178|    75|  1|  0|     140| 203|  1|      0|    155|    1|    3.1|    0|  0|   3|     0|   0|    0|       0|       0|      no-job|
|    3| 70|   167|    68|  1|  0|     145| 174|  0|      1|    125|    1|    2.6|    0|  0|   3|     0|   0|    0|       0|       0|delivery-man|
|    4| 61|   165|    63|  1|  0|     148| 203|  0|      1|    161|    0|      0|    2|  1|   3|     0|   0|    0|       1|       0|business-man|
|    5| 62|   163|    55|  0|  0|     138| 294|  1|      1|    106|    0|    1.9|    1|  3|   2|     0|   0|    1|       0|       0|    security|
|    6| 58|   165|    64|  0|  0|     100| 248|  0|      0|    122|    0|      1|    1|  0|   2|     1|   0|    0|       1|       0|     teacher|
|    7| 58|   165|    74|  1|  0|     114| 318|  0|      2|    140|    0|    4.4|    0|  3|   1|     0|   0|    0|       1|       0|     teacher|
|    8| 55|   169|    70|  1|  0|     160| 289|  0|      0|    145|    1|    0.8|    1|  1|   3|     0|   0|    0|       0|       0|delivery-man|
|    9| 46|   140|    48|  1|  0|     120| 249|  0|      0|    144|    0|    0.8|    2|  0|   3|     0|   0|    0|       1|       0|      no-job|
|   10| 54|   165|    65|  1|  0|     122| 286|  0|      0|    116|    1|    3.2|    1|  2|   2|     0|   0|    0|       1|       0|    security|
|   11| 71|   170|    68|  0|  0|     112| 149|  0|      1|    125|    0|    1.6|    1|  0|   2|     1|   0|    0|       0|       0|delivery-man|
|   12| 43|   171|    69|  0|  0|     132| 341|  1|      0|    136|    1|      3|    1|  0|   3|     0|   0|    0|       0|       0|      no-job|
|   13| 34|   160|    60|  0|  1|     118| 210|  0|      1|    192|    0|    0.7|    2|  0|   2|     1|   0|    0|       1|       0|business-man|
|   14| 51|   169|    75|  1|  0|     140| 298|  0|      1|    122|    1|    4.2|    1|  3|   3|     0|   0|    0|       0|       0|business-man|
|   15| 52|   158|    65|  1|  0|     128| 204|  1|      1|    156|    1|      1|    1|  0|   0|     0|   0|    0|       1|       0|delivery-man|
|   16| 34|   160|    75|  0|  1|     118| 210|  0|      1|    192|    0|    0.7|    2|  0|   2|     1|   0|    0|       1|       0| baby-sitter|
|   17| 51|   169|    80|  0|  2|     140| 308|  0|      0|    142|    0|    1.5|    2|  1|   2|     1|   0|    0|       1|       0|     dentist|
|   18| 54|   170|    66|  1|  0|     124| 266|  0|      0|    109|    1|    2.2|    1|  1|   3|     0|   0|    0|       0|       0|     teacher|
|   19| 50|   166|    89|  0|  1|     120| 244|  0|      1|    162|    0|    1.1|    2|  0|   2|     1|   0|    0|       1|       0|     teacher|
|   20| 58|   156|    75|  1|  2|     140| 211|  1|      0|    165|    0|      0|    2|  0|   2|     1|   0|    0|       0|       0|      no-job|
+-----+---+------+------+---+---+--------+----+---+-------+-------+-----+-------+-----+---+----+------+----+-----+--------+--------+------------+
only showing top 20 rows

In [29]:
yy.coalesce(1)    .write.mode("overwrite")    .option("mapreduce.fileoutputcommitter.marksuccessfuljobs","false")\
     .option("header","true")\
    .option("delimiter", ",")\
    .csv("result")